<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <h1>My Astro Site</h1>
  <h1>Blog</h1>
  <h2>This is a blog</h2>

  <p>I will be updating various content here.</p>

</body>